@import url(https://fonts.googleapis.com/css?family=Fira+Sans:500,400,300&subset=latin,cyrillic);

html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
}

#map {
    display: block;
    width: 100%;
    height: 100%;
}

.ballon_header {
    margin-top: 0;
    margin-bottom: 10px;

    font-size: 16px;

    color: #708090;
}

.ballon_body {
    font-size: 14px;

    text-align: center;
}

.popover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1010;

    display: block;
    width: 350px;
    height: 470px;

    font-family: "Fira Sans", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.2;

    text-align: left;
    white-space: normal;

    color: #4f4f4f;
    border-radius: 10px;
    background-color: #fff;
}

.popover * {
    box-sizing: border-box;
}

.popover .close {
    position: absolute;
    top: 7px;
    right: 13px;

    float: right;

    font-size: 15px;
    font-weight: bold;
    line-height: 1;

    text-decoration: none;

    color: white;
}
.btn {
    margin-top: 10px;
}

.popover-content {
    padding: 9px 0;
}

.popover-title {
    padding: 8px 34px 8px 28px;
    margin: 0;

    font-size: 12px;
    font-weight: 300;
    line-height: 1.2;

    color: white;
    border-radius: 10px 10px 0 0;
    background-color: #ff8663;
}

.popover-title i {
    position: absolute;
    top: 6px;
    left: 13px;

    margin-right: 7px;

    font-size: 14px;
    line-height: 1;
}

.reviews {
    height: 128px;
    overflow-y: auto;
}

.popover-content > * {
    margin: 0 10px;
}

.popover hr {
    height: 1px;
    margin-top: 10px;
    margin-bottom: 12px;

    border: 0;
    background: #f0f0f0;
}

.popover .subtitle {
    margin-bottom: 10px;

    font-weight: 500;

    text-transform: uppercase;

    color: #ff8663;
}

.review-form input,
.review-form textarea {
    width: 100%;
    padding: 6px 10px;
    margin-bottom: 14px;

    font-family: "Fira Sans", sans-serif;
    font-size: 12px;
    font-weight: 300;

    border: 1px solid #c4c4c4;
    border-radius: 20px;
}

.review-form textarea {
    resize: none;

    border-radius: 15px;
}

.review-form *:focus {
    outline: none;
}

.review-form button {
    float: right;
    padding: 8px 10px 9px;
    margin-top: -3px;

    font-size: 12px;
    font-weight: 300;

    cursor: pointer;

    color: white;
    border: 0;
    border-radius: 10px;
    background: #ff8663;
}

.review-form button:hover {
    background: #f97853;
}

.author,
.place,
.date {
    display: inline;
    margin-right: 10px;
}

.author {
    font-weight: 500;
}

.place,
.date {
    font-weight: 400;

    color: #7b7b7b;
}

.review-text {
    display: block;
    margin-top: 5px;

    font-weight: 400;
}

.review {
    margin-bottom: 20px;
}
